
@import './foundation.scss';

body {
  background-color: #0000ff;
  margin: 0 0 0 0;
}

#app{
  margin: auto;
            // @include breakpoint(medium) {
            //   max-width: 60%
            // }
  // background-color: #555555
}